<?xml version="1.0" encoding="utf-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="org.lyh.mapper.MenuMapper">

    <resultMap id="menuResult" type="org.lyh.bean.Menu">
        <id column="id" property="id"/>
        <result column="href" property="href"/>
        <result column="icon" property="icon"/>
        <result column="name" property="name"/>
        <result column="parent_id" property="parentId"/>
        <result column="description" property="description"/>
        <result column="orderNum" property="order_num"/>
        <result column="shown" property="shown"/>
        <result column="created_time" property="createdTime"/>
        <result column="updated_time" property="updatedTime"/>
        <result column="created_by" property="createdBy"/>
        <result column="updated_by" property="updatedBy"/>
        <collection property="subMenuList" ofType="org.lyh.bean.Menu" select="findSubMenuListByPid" column="id"/>
    </resultMap>
    <!--查询所有父子菜单信息-->
    <select id="findSubMenuListByPid" parameterType="int" resultMap="menuResult">
        SELECT * FROM menu WHERE parent_id = #{id}
    </select>
</mapper>